In [119]:
import pandas as pd
from datetime import datetime, timedelta, timezone
from dateutil import tz

In [184]:
oldtown_sensors = pd.read_csv(r'C:\Users\3d-digi\Desktop\GitHere\Datasets\tallin_oldtown_motionsensors_31.03.2022.csv', sep = ';', parse_dates = ['UTC timestamp'])

In [188]:
df = oldtown_sensors.copy(deep=True)

In [ ]:
# Converting to ISO format
# df['iso_date'] = df['UTC timestamp'].apply(lambda x: x.isoformat())

In [189]:
et = tz.gettz('Europe/Tallinn')

df['UTC timestamp']  = pd.to_datetime(df['UTC timestamp'], utc=True) # make UTC

df['eest_time'] = df['UTC timestamp'].dt.tz_convert(tz = et) # convert the timezone


df['eest_time'] = df['eest_time'].dt.tz_localize(None) # get rid of the +2 kind of thing

df

,Device,UTC timestamp,count,in,out,eest_time
0,Harju 13,2022-01-01 00:09:00+00:00,129,100,29,2022-01-01 02:09:00
1,Harju 13,2022-01-01 00:19:00+00:00,142,55,87,2022-01-01 02:19:00
2,Harju 13,2022-01-01 00:29:00+00:00,136,68,68,2022-01-01 02:29:00
3,Harju 13,2022-01-01 00:39:00+00:00,137,62,75,2022-01-01 02:39:00
4,Harju 13,2022-01-01 00:49:00+00:00,134,69,65,2022-01-01 02:49:00
...,...,...,...,...,...,...
227968,Väike-Karja 12,2022-03-31 23:10:00+00:00,28,19,9,2022-04-01 02:10:00
227969,Väike-Karja 12,2022-03-31 23:20:00+00:00,21,15,6,2022-04-01 02:20:00
227970,Väike-Karja 12,2022-03-31 23:30:00+00:00,21,13,8,2022-04-01 02:30:00
227971,Väike-Karja 12,2022-03-31 23:40:00+00:00,12,7,5,2022-04-01 02:40:00
227972,Väike-Karja 12,2022-03-31 23:50:00+00:00,15,6,9,2022-04-01 02:50:00

In [187]:
#df['iso_date'] = pd.to_datetime(df['UTC timestamp']).dt.isoformat()


#df['time'] = pd.to_datetime(df['UTC timestamp']).dt.date
#df['date'] = df.date.astype('datetime64')

#df['UTC timestamp'] = df['UTC timestamp'].astype('str')

In [ ]:
### GOES WITH ME

# checking if there are any empty data cells
# df.isnull().sum()

# checking empty data cells based on single column
# df[df.col_name.isnull()]

# checking how many number of unique values in any column
# df.col_name.nunique()

# checking unique values of a specific column
# df.col_name.unique()

# using filter by single column
# df[df.col_name == 'cell_value']

# using filter by multiple columns
# df[(df.col_name == 'cell_value') & (df.col_name == 'cell_value')]
# df_filt = df[(df['ESMANE_REG_KP'] >= "2021-01-01") & (df['ESMANE_REG_KP'] < "2022-01-01")]

# Filtering on base of year or month, Make your the column type is date and giving how many rows are in that specific time frame
# df.groupby(df.col_name.dt.year).col_name.count()
# df[['col_name']].value_counts().reset_index(name='ortho_count')

# creating bin to get the bin wise count
# pd.qcut(df.ESMANE_REG_KP.dt.year, q=5, precision=0, duplicates='raise').value_counts()

# Filtering on base of year or month, Make your the column type is date
#pd.pivot_table(data = df , index = df.ESMANE_REG_KP.dt.year)